<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button [routerLink]="['/home']">ngrx - angularfire</a>
    <span class="toolbar-spacer"></span>
    <div *ngIf="!(authService.user$ | async)?.uid">
      <a mat-button (click)="authService.login()">Login</a>
    </div>
    <div *ngIf="(authService.user$ | async)?.uid">
      <a mat-button [routerLink]="['/company-list']">Companies</a>
      <a mat-button (click)="authService.logout()">Logout</a>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <div fxFlexOffset.gt-sm="15%" fxFlex.gt-sm="70%">
    <router-outlet></router-outlet>
  </div>
</div>
