<h1>Company Edit</h1>
<mat-card *ngIf="company$ | async as company">
  <mat-input-container>
    <input type="text" matInput [(ngModel)]="company.name">
  </mat-input-container>
  <mat-card-actions align="right">
    <button mat-button (click)="saveCompany(company)">Save</button>
    <button mat-button (click)="removeCompany(company)">Remove</button>
  </mat-card-actions>
</mat-card>
